Biblioteca_Mant/Connected Services/WS_ImagenEmpleadoBN_2Capas/ws_Imagen_EmpleadoBN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Buscar_Foto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="v_DNIEmpl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buscar_FotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buscar_FotoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Buscar_FotoSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar_Foto" />
  </wsdl:message>
  <wsdl:message name="Buscar_FotoSoapOut">
    <wsdl:part name="parameters" element="tns:Buscar_FotoResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_Imagen_EmpleadoBNSoap">
    <wsdl:operation name="Buscar_Foto">
      <wsdl:input message="tns:Buscar_FotoSoapIn" />
      <wsdl:output message="tns:Buscar_FotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_Imagen_EmpleadoBNSoap" type="tns:ws_Imagen_EmpleadoBNSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar_Foto">
      <soap:operation soapAction="http://tempuri.org/Buscar_Foto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_Imagen_EmpleadoBNSoap12" type="tns:ws_Imagen_EmpleadoBNSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar_Foto">
      <soap12:operation soapAction="http://tempuri.org/Buscar_Foto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_Imagen_EmpleadoBN">
    <wsdl:port name="ws_Imagen_EmpleadoBNSoap" binding="tns:ws_Imagen_EmpleadoBNSoap">
      <soap:address location="http://10.7.12.124/WS_foto/ws_Imagen_EmpleadoBN.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_Imagen_EmpleadoBNSoap12" binding="tns:ws_Imagen_EmpleadoBNSoap12">
      <soap12:address location="http://10.7.12.124/WS_foto/ws_Imagen_EmpleadoBN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>